.product{
    display: flex;
    flex-direction: column;
    background-color: white;

    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-height: 100px;

    z-index: 1;
}

.product img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product_price{
    margin-top: 5px;
}

.product_rating{
    display: flex;
}

.product_addBtn {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color:  #9E741E #936E1B #7B5B17;
    color: #111;
}

.prduct_info{
    height: 100px;
    margin-bottom: 15px;
    /* align-items: ; */
}